/* RESET: remove espaçamentos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ESTILO GERAL DA PÁGINA */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f5f2;
    color: #333;
  }
  
  /* CENTRALIZA O CONTEÚDO */
  .container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  /* ================= HEADER ================= */
  header {
    background-color: #4b2e2e;
    padding: 20px 0;
  }
  
  /* FLEX: coloca logo e menu lado a lado */
  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* LOGO */
  .logo {
    color: white;
    font-size: 28px;
  }
  
  /* LINKS DO MENU */
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
  }
  
  /* ================= HERO ================= */
  .hero {
    padding: 60px 0;
  }
  
  /* FLEX: divide texto e imagem */
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  
  /* TEXTO */
  .hero-texto {
    width: 50%;
  }
  
  .hero-texto h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #4b2e2e;
  }

  .hero-texto p{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .botao {
    display: inline-block;
    background-color: #4b2e2e;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
  }

  .product,
  .sobre {
    padding: 60px 0;
  }

  .product h2,
  .sobre h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e2e;
  }

  .texto-centro {
    text-align: center;
    max-width: 700px;
    /* Em cima, direita, baixo, esquerda */
    margin: 0 auto 30px auto;
  }

  .cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .card{
    background-color: white;
    width: 300px;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0,3);

  }

  .card h3 {
    background-color: #2f1c1c;
    color: white;
    margin-top: 40px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
  }

  .footer-col {
    width: 30%;
    min-width: 220px;
    margin-bottom: 15px;
  }

  .footer-col a {
    display: block;
    color: #241515;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #241515;
  }