* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #fff;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.cabecalho{
    background-color: #020671;
    padding: 22px 0;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 32px;
    color: #ffffff;
}

.logo span{
    color: #f97316;
}

.menu{
    display: flex;
    gap: 24px;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover{
    color: #f97316;
}

.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(2,6,23, 0.75), rgba(2, 6,23, 0.98)),
    url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
}

.hero-conteudo{
    display: flex;
    justify-content: space-between;
    line-height: 1.1;
    gap: 40px;
}

.hero-texto{
    width: 60%;
}

.hero-texto h2{
    font-size: 54px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-texto p{
    font-size: 20px;
    color: #cbd5e1;
    margin-bottom: 30px;
}

.botao{
    background-color: #f97316;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover{
    background-color: #ea580c;
}

.hero-card{
    width: 30%;
    background-color: rgba(255, 255,255, 0.12);
    border: 1px solid rgba(255, 255,255, 0.2);
    padding: 35px;
    border-radius: 18px;
}
.hero-card h3{
    color: #f97316;
    font-size: 28px;
    margin-bottom: 12px;
}

.hero-card p{
    color: #e2e8f0;
    font-size: 18px;
}

.beneficios{
    background-color: #020617;
    width: 33.33%;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid #1f2937;
    transition: 0.3s;
}

.beneficios:hover{
    border-color: #f97316;
    transform: translateY(-3px);
}

.beneficios h3{
    color: #f97316;
    margin-bottom: 12px;
    font-size: 24px;
}

.beneficios p{
    color: #cbd5e1;
    line-height: 1.5;
}

.sobre{
    padding: 90px 0;
    background-color: #0f172a;
}

.sobre-conteudo{
    display: flex;
    align-items: center;
    gap: 	45px;
}

.sobre-imagem{
    width: 50%;
    height: 420px;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1571019613914-85f342c6a11e?auto=format&fit=crop&w=900&q=80);
    background-size: cover;
    background-position: center;
}

.sobre-texto{
    width: 50%;
}

.sobre-texto h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #f97316;
}

.sobre-texto p{
    color: #cbd5e1;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 18px;
}

.planos{
    background-color: #020617;
    padding: 90px 0;
}

.titulo-secao{
    text-align: center;
    font-size: 42px;
    margin-bottom: 45px;
}

.planos-lista{
    display: flex;
    gap: 30px;
    align-items: stretch;
}

.plano{
    width: 33.33%;
    background-color: #111827;
    padding: 35px;
    border-radius: 18px;
    border: 1px solid #1f2933;
    text-align: center;
    transition: 0.3s;
}

.plano:hover{
    transform: translateY(-8px);
    border-color: #f97316;
}

.plano h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.preco{
    color: #f97316;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
}

.planos ul{
    list-style: none;
    margin-bottom: 30px;
}

.plano li{
    color: #cbd5e1;
    margin-bottom: 12px;
}

.detaque{
    border: 2px solid #f97316;
    transform: scale(1.08);
}

.botao-plano{
    background-color: #f97316;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 26px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-plano:hover{
    background-color: #ea580c;
}